# Bazel configuration
# =========================================================

build --enable_platform_specific_config
test --test_output=errors
test --test_summary=terse
test --test_verbose_timeout_warnings

# The repo contents cache introduced in 8.3.0 is broken.
# See: https://github.com/bazelbuild/bazel/issues/26450
build --repo_contents_cache=

# Compiler configuration
# =========================================================

build:linux --cxxopt=-std=c++2b
build:windows --cxxopt=-std:c++latest
