# Bazel configuration
# =========================================================

common --lockfile_mode=off

build --enable_platform_specific_config
test --test_output=errors
test --test_summary=terse
test --test_timeout=15
test --test_verbose_timeout_warnings

# Compiler configuration
# =========================================================

build:linux --cxxopt=-std=c++2b
build:windows --cxxopt=-std:c++23preview
build:windows --features=-default_cpp_std

# Sanitizer options
# =========================================================

# Sanitizer flags listed at:
# * https://github.com/google/sanitizers/wiki/AddressSanitizerFlags
# * https://github.com/google/sanitizers/wiki/AddressSanitizerLeakSanitizer#flags
# * https://github.com/google/sanitizers/wiki/LeakSanitizerFlags
# * https://github.com/google/sanitizers/wiki/SanitizerCommonFlags
# * https://github.com/google/sanitizers/wiki/ThreadSanitizerFlags
build:asan --strip=never
build:asan --features=asan
build:asan --copt=-fsanitize-address-use-after-scope
build:asan --copt=-fno-omit-frame-pointer
build:asan --action_env=ASAN_OPTIONS=strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1:detect_invalid_pointer_pairs=2
build:asan   --test_env=ASAN_OPTIONS=strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1:detect_invalid_pointer_pairs=2
run:asan      --run_env=ASAN_OPTIONS=strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1:detect_invalid_pointer_pairs=2
build:asan --action_env=LSAN_OPTIONS=report_objects=1
build:asan   --test_env=LSAN_OPTIONS=report_objects=1
run:asan      --run_env=LSAN_OPTIONS=report_objects=1

build:tsan --strip=never
build:tsan --features=tsan
build:tsan --action_env=TSAN_OPTIONS=halt_on_error=1
build:tsan   --test_env=TSAN_OPTIONS=halt_on_error=1
run:tsan      --run_env=TSAN_OPTIONS=halt_on_error=1

build:ubsan --strip=never
build:ubsan --features=ubsan
build:ubsan --copt=-fno-omit-frame-pointer
build:ubsan --linkopt=-fsanitize-link-c++-runtime
build:ubsan --action_env=UBSAN_OPTIONS=halt_on_error=1:print_stacktrace=1
build:ubsan   --test_env=UBSAN_OPTIONS=halt_on_error=1:print_stacktrace=1
run:ubsan      --run_env=UBSAN_OPTIONS=halt_on_error=1:print_stacktrace=1

# Fuzzing options
# =========================================================

build:libfuzzer --@rules_fuzzing//fuzzing:cc_engine=@rules_fuzzing//fuzzing/engines:libfuzzer
build:libfuzzer --@rules_fuzzing//fuzzing:cc_engine_instrumentation=libfuzzer

build:honggfuzz --@rules_fuzzing//fuzzing:cc_engine=@rules_fuzzing//fuzzing/engines:honggfuzz
build:honggfuzz --@rules_fuzzing//fuzzing:cc_engine_instrumentation=honggfuzz
